.drumMachine {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}
.switchBanks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.padsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pads {
  display: flex;
  flex-wrap: wrap;
  width: max(15vw, 15vh);
}
.volumeSliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pressedTrack {
  align-self: normal;
  text-align: center;
  line-height: 300%;
  background: gray;
}
