.markdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editorContainer {
  margin: 5vh 0;
}
#editor {
  padding: 3px;
  resize: none;
}
#preview {
  display: flex;
  flex-direction: column;
  width: 60%;
}
#preview img {
  width: 80%;
}
