/* starts in 0 */
.enterActive {
  transform: translateX(100%);
  transition: transform 100ms, background-color 100ms;
  background-color: yellow;
}
.enterDone {
  background-color: yellow;
  transform: translateX(100%);
}
.exit {
  transform: translateX(100%);
  background-color: yellow;
}
.exitActive {
  transform: translateX(0%);
  background-color: red;
  transition: transform 100ms, background-color 100ms;
}
/* ends in 0 */
