.enter {
  transform: translateX(100%);
}
.enterActive {
  transform: translateX(0%);
  transition: transform 100ms, background-color 100ms;
  background-color: red;
}
.enterDone {
  background-color: red;
}
.exitActive {
  transform: translateX(100%);
  background-color: yellow !important;
  transition: transform 100ms, background-color 100ms;
}
.exitDone {
  transform: translateX(100%);
  background-color: yellow !important;
}
