.enterActive {
  transform: scale(0.9);
  transition: transform 100ms;
}
.enterDone {
  /* when entering exit phase, enterDone is removed */
  transform: scale(0.9);
}
.exit {
  transform: scale(0.9);
}
.exitActive {
  transform: scale(1);
  transition: transform 100ms;
}
