.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 40px;
}
.content {
  width: max(40vw, 40vh);
  padding: 3%;
  border-radius: 3px;
}
.quoteContainer {
  display: flex;
  flex-direction: column;
}
.quote {
  position: relative;
}
.quoteText {
  text-align: center;
  font-size: xx-large;
  margin: 0;
}
.author {
  align-self: flex-end;
}
.quoteButtons {
  display: flex;
  justify-content: space-between;
}
